@charset "utf-8";
/* CSS Document */
td
{
	padding:5px;
	text-transform:uppercase;
	text-align:center;
}
th
{
	padding:5px;
}
.btn_continuar
{
	padding-top:7px;
	width:152px;
	height:37px;	
	color:transparent;
	background-color:transparent;
	border-radius:5px;
	border:1px solid transparent;
}
.btn_continuar:active
{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3),
	inset 0px 0px 20px #EEECEC;
}
.btn_continuar:hover
{
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 30px rgba(0,0,0,0.3),
	inset 0px 0px 20px #EEECEC;
}
.letra
{
	font-family: Tahoma, Geneva, sans-serif;
}